@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,500&display=swap');

body {
  background-color: #e2e2fa;
}

.body {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #c8c8f6;
  width: 100%;
  align-content: flex-start;
  justify-items: start;
  display: flex;
  height: 80px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-top: 10px;
}

.hE {
  margin-right: 20px;
}

table,
td {
  border-collapse: collapse !important;
  border: 1px solid #9fbcff !important;
}

.wall {
  background-color: black !important;
}

td {
  width: 21px;
  height: 23.5px;
  padding-right: 19px;
}

.startingPoint {
  background-image: url('../images/start.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.visited {
  background-color: #1381d5;
  border: 1px solid white;
}

.path {
  background-color: rgb(251, 215, 10);
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragging {
  background-color: #b387ff;
}

.target {
  cursor: pointer;
  background-image: url('../images/target.svg');
  background-repeat: no-repeat;
}

.weight {
  background-image: url('../images/weight.svg');
  background-repeat: no-repeat;
}

.homePage {
  background-color: rgb(117, 117, 251);
}

#homePage {
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

._link {
  display: flex;
  margin-top: 6px;
}
